version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "org.jetbrains.kotlin:kotlin-stdlib"
        versions: ["2.1.x"] # Ignore minor updates for Kotlin stdlib
    commit-message:
      prefix: "build(deps)"
      include: "scope"
